body {
	background-color: #EBFFEB;
}

#signInButton {
	margin-left: 45%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}


h2 {
	font-family: 'Arvo', serif;
	text-align: center;
	padding: 0;
	margin-top: 240px;
	height: 30px;
	font-size: 45px;
}